body {
  background-color: red;
}

@media (min-width: 900px) or (orientation: portrait) {
  body {
      background-color: yellow;
  }
}

/* 
  all, screen, print, speach
*/
/* 
  width, min-width, max-width
  height, min-height, max-height
  orientation: portrait, landscape
  resolution, min-resolution, max-resolution: 300dpi
*/
