.container {
  position: relative;
  margin: 20px auto;
  width: 400px;
  border: 5px solid green;
}

.box {
  height: 100px;
  width: 70%;
}

.blue {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  background-color: #0057b7;
}
.yellow {
  background-color: #ffd700;
}
