.container {
  display: flex;
  width: 50px;
  height: 99px;

  border: 3px solid red;
  font-size: 32px;
  color: white;
}

.box-1 {
  flex-shrink: 1;
  flex-basis: 100px;
  background-color: green;
}

.box-2 {
  flex-shrink: 2;
  flex-basis: 150px;
  background-color: blue;
}

.box-3 {
  min-width: 50px;
  flex-grow: 1;
  background-color: yellow;
}