html {
  --footer-height: 150px;
  --header-height: 80px;
}

.header {
  height: var(--header-height);
  background-color: #0057b7;
}

.main {
  box-sizing: border-box;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  padding: 10px 20px;
}

.footer {
  height: var(--footer-height);
  background-color: #ffd700;
}